---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		
		<main class="bg-bg text-green ">
			<h1 class="text-green p-4 h-screen flex justify-center items-center">PORTFOLIO</h1>
								
				<section class="border-green h-56 flex justify-center items-center border-y-2">
					illustration
				</section>
			
				<section class="border-green border-b-2 marquee-container">
                    <div class="marquee">
                        <div class="marquee-content">
                            <span>a propos</span> <span class="stroke">a propos</span> <span>a propos</span> <span class="stroke">a propos</span> <span>a propos</span> <span class="stroke">a propos</span> <span>a propos</span> <span class="stroke">a propos</span> <span>a propos</span> <span class="stroke">a propos</span>
                        </div>
                        <div class="marquee-content">
                            <span>a propos</span> <span class="stroke">a propos</span> <span>a propos</span> <span class="stroke">a propos</span> <span>a propos</span> <span class="stroke">a propos</span> <span>a propos</span> <span class="stroke">a propos</span> <span>a propos</span> <span class="stroke">a propos</span>
                        </div>
                    </div>
                </section>
			
					<div>
						<section class="p-4">
							<p>Hello !</p>
							<p>Je m'appelle Romain et je suis étudiant en 3ème année de MMI. Je suis passionné par le graphisme et le montage vidéo.</p>
						</section>
						<section class="h-40 flex justify-center items-center">
							illustration
						</section>
						<ul class="flex flex-row gap-6 p-8 border-green border-y-2">
							<li><img class="bounce" src="/Illustrator.svg" alt=""></li>
							<li><img class="bounce2" src="/Photoshop.svg" alt=""></li>
							<li><img class="bounce" src="/Aftereffect.svg" alt=""></li>
							<li><img class="bounce2" src="/PremierePro.svg" alt=""></li>
						</ul>
					</div>
			
					<h2 class="flex my-10 items-center justify-center text-green">PROJETS</h2>
			
					<div class="flex justify-center items-center">
						<section class="grid grid-cols-1 gap-4 justify-center items-center">
							<div class="h-60 w-60 flex flex-col justify-center items-center">
								<section class="w-40 h-40 border-green border-2"></section>
								<p>Projet 1</p>
							</div>
							<div class="h-60 w-60 flex flex-col justify-center items-center">
								<section class="border-green w-40 h-40 border-2"></section>
								<p>Projet 2</p>
							</div>
							<div class="h-60 w-60 flex flex-col justify-center items-center">
								<section class="border-green w-40 h-40 border-2"></section>
								<p>Projet 3</p>
							</div>
						</section>		
					</div>
		</main>
	</body>
</html>
