---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		
		<main class="bg-bg text-green ">
			<h1 class="text-green p-4 h-screen flex justify-center items-center">PORTFOLIO</h1>
								
				<section class="border-green h-56 flex justify-center items-center border-y-2">
					illustration
				</section>
			
				<section class="border-green border-b-2">
					a propos
				</section>
			
					<div>
						<section class="p-4">
							<p>Hello !</p>
							<p>Je suis un étudiant en 3ème année de MMI qui est passionné par le graphisme et le design</p>
						</section>
						<section class="h-40 flex justify-center items-center">
							illustration
						</section>
						<section class="border-green border-y-2">
							logo
						</section>
					</div>
			
					<h2 class="flex items-center justify-center text-green">PROJETS</h2>
			
					<div class="flex justify-center items-center">
						<section class="grid grid-cols-1 gap-4 justify-center items-center">
							<div class="h-60 w-60 p-4">
								<section class="w-full h-full border-green border-2"></section>
								<h3>Projet 1</h3>
							</div>
							<div class="h-60 w-60 border-green border-2 p-4">
								<h3>Projet 2</h3>
							</div>
							<div class="h-60 w-60 border-green border-2 p-4">
								<h3>Projet 3</h3>
							</div>
						</section>		
					</div>
		</main>
	</body>
</html>
